<p>
    Attention: <br/>
    <%= record.metadata.contributor_ci.text_full_name %><br/>
    <%= record.metadata.contributor_data_manager.text_full_name %><br/>
</p>

<p>
    A data publication, <%= record.metadata.title %>, has been staged for publication.<br/>
    Click <a href="<%= sails.config.appUrl %>/staged/<%= oid %>">here</a> to review.<br/>
    Click <a href="<%= sails.config.appUrl %>/record/edit/<%= oid %>">here</a> to edit.<br/>
</p>
<p>Kind regards</p>
<p>UTS Research and UTS Library Research Data Team</p>
